@layer navbar,
banner,
footer;

@layer banner {

    .banner__container--size {
        height: 60vh;
    }

    .banner__img--shadow {
        filter: drop-shadow(2px 4px 6px black);
        -webkit-filter: drop-shadow(2px 4px 6px black);
    }

    #banner>div>img {
        height: 100%;
        object-fit: cover;
    }
}

@layer navbar {

    .navbar__logo--invert {
        filter: invert(1);
        -webkit-filter: invert(1);
    }


    nav div .navbar-nav a {
        color: gray;
    }

    nav div .navbar-nav a:hover {
        color: rgb(155, 193, 220)
    }

    nav div .navbar-nav .active {
        color: rgb(162, 236, 255) !important
    }

    nav div .navbar-nav .disabled {
        color: rgb(62, 98, 107) !important
    }
}

@layer footer {
    footer {
        font-size: 0.9rem;
        background: linear-gradient(180deg, rgba(0, 2, 64, 1) 0%, rgba(47, 45, 108, 1) 100%);
    }

    footer a {
        text-decoration: none !important;
        color: white !important;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    footer a:hover {
        color: rgb(181, 252, 248) !important;
        transform: scale(1.1);
        transition: .5s all;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    footer div {
        color: white
    }
}